.header {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  > span {
    font-weight: 500;
  }
}

.desktop_header {
  @extend .header;
  > span {
    font-size: 50px;
  }
}

.mobile_header {
  @extend .header;
  > span {
    font-size: 30px;
  }
}
